<html>

<head>
  <title>أسواق المدينة</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/styles/homepage.css" rel="stylesheet" type="text/css">

      <nav class="navbar navbar-default">
        <h1>  Madina <img src="https://scontent.fjrs2-1.fna.fbcdn.net/v/t1.0-9/10520641_1403300713301670_6676082635920823261_n.jpg?_nc_cat=0&_nc_eui2=AeFHwbYEgGS3RZhcLkN8w2p6imVg8wUGK3xZil0i34ak67mqi4WGuM_xRX4h_7H7ApF_I5UrSrylB0SI_ZXA6y-5ULcZFaLioU4t4zcgZlPtVw&oh=d4f4a7a2509e74ab38aea7abdd2236ce&oe=5BBF267B" alt="أسواق المدينة" height="150" width="150" class="img-circle" align="middle"> Market </h1>
      </nav>
</head>

<body>
    <div class="container">
       <div> 
        <form class="form-inline" action="/cash/" method="post">
            <div class ="right">
                <select class="form-control" name="period">
                    <option value="morning"  <%= metaData.period == 'morning' ? 'selected' : ''%>>صباحي</option>
                    <option value="evening"  <%= metaData.period == 'evening' ? 'selected' : ''%>>مسائي</option>
                </select>
                <input id="date" class="form-control" type="date" name="date" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" placeholder="التاريخ" <% if(metaData.date) %> value="<%= metaData.date %>">
                <input id="cash_user" class="form-control" type="text" name="cash_user" placeholder="صندوق" <% if(metaData.cashUser) %> value="<%= metaData.cashUser %>" >
                <input id="username" class="form-control" type="text" name="user_name" placeholder="الاسم" <% if(metaData.userName) %> value="<%= metaData.userName %>" >
                <label> تفاصيل الفترة و المستخدم </label>
            </div>
            </br>
            </br>
            <div class="row">
                <div class="col-md-3">
                    <label class="tab"> تفاصيل العملات</label>
                    </br>
                    <label class="lbl-conv">JOD</label>
                    <input class="value-min" id="JOD-conv" type="number" name="JOD-conv" placeholder="سعر الصرف" step=".01"  <% if(conversionRate.JOD) %> value="<%= conversionRate.JOD %>">
                    <input class="value-min" id="JOD" type="number" name="JOD" placeholder="العدد"  <% if(startingMoneyObj.JOD) %> value="<%= startingMoneyObj.JOD %>" >
                    </br>
                    <label class="lbl-conv">USD</label>
                    <input class="value-min" id="USD-conv" type="number" name="USD-conv" placeholder="سعر الصرف" step=".01"  <% if(conversionRate.USD) %> value="<%= conversionRate.USD %>">
                    <input class="value-min" id="USD" type="number" name="USD" placeholder="العدد" <% if(startingMoneyObj.USD) %> value="<%= startingMoneyObj.USD %>" >
                    </br>
                    <label class="lbl-conv">JOD2</label>
                    <input class="value-min" id="JOD2-conv" type="number" name="JOD2-conv" placeholder="سعر الصرف 2" step=".01"  <% if(conversionRate.JOD2) %> value="<%= conversionRate.JOD2 %>">
                    <input class="value-min" id="JOD2" type="number" name="JOD2" placeholder="العدد" <% if(startingMoneyObj.JOD2) %> value="<%= startingMoneyObj.JOD2 %>" >
                    </br>
                    <label class="lbl-conv">USD2</label>
                    <input class="value-min" id="USD2-conv" type="number" name="USD2-conv" placeholder="سعر الصرف 2" step=".01"  <% if(conversionRate.USD2) %> value="<%= conversionRate.USD2 %>">
                    <input class="value-min" id="USD2" type="number" name="USD2" placeholder="العدد" <% if(startingMoneyObj.USD2) %> value="<%= startingMoneyObj.USD2 %>" >
                    </br>
                    </br>
                    <label class="lbl-init">200</label>
                    <input class="form-control" id="200" type="number" name="200" placeholder="العدد" <% if(startingMoneyObj[200]) %> value="<%= startingMoneyObj[200] %>" >
                    </br>
                    <label class="lbl-init">100</label>
                    <input class="form-control value" id="100" type="number" name="100" placeholder="العدد" <% if(metaData[100]) %> value="<%= startingMoneyObj[100] %>" >
                    </br>
                    <label class="lbl-init">50</label>
                    <input class="form-control" id="50" type="number" name="50" placeholder="العدد" <% if(startingMoneyObj[50]) %> value="<%= startingMoneyObj[50] %>" >
                    </br>
                    <label class="lbl-init">20</label>
                    <input class="form-control" id="20" type="number" name="20" placeholder="العدد" <% if(startingMoneyObj[20]) %> value="<%= startingMoneyObj[20] %>" >
                    </br>
                    <label class="lbl-init">10</label>
                    <input class="form-control" id="10" type="number" name="10" placeholder="العدد" <% if(startingMoneyObj[10]) %> value="<%= startingMoneyObj[10] %>" >
                    </br>
                    <label class="lbl-init">5</label>
                    <input class="form-control" id="5" type="number" name="5" placeholder="العدد" <% if(startingMoneyObj[5]) %> value="<%= startingMoneyObj[5] %>" >
                    </br>
                    <label class="lbl-init">2</label>
                    <input class="form-control" id="2" type="number" name="2" placeholder="العدد" <% if(startingMoneyObj[2]) %> value="<%= startingMoneyObj[2] %>" >
                    </br>
                    <label class="lbl-init">1</label>
                    <input class="form-control" id="1" type="number" name="1" placeholder="العدد" <% if(startingMoneyObj[1]) %> value="<%= startingMoneyObj[1] %>" >
                    </br>
                    <label class="lbl-init">0.5</label>
                    <input class="form-control" id="0" type="number" name="0" placeholder="العدد" <% if(startingMoneyObj[0]) %> value="<%= startingMoneyObj[0] %>" >
                    </br>
                    </br>
                    </br>
                    <button class="btn btn-default align-right" type="submit">
                      إحسب العهدة
                      <span class= "glyphicon glyphicon-ok"></span>
                    </button>
                </div>
        <div class="col-md-3 left-border">
            <% if(Object.keys(keptMoneyObj).length !== 0){ %>
                <label class="tab"> الجرد الفعلي </label>
                </br>
                <label class="lbl-conv">JOD </label>
                <label class="value" id="JOD-value">
                    <%= startingMoneyObj.JOD  %>
                </label>
                <label class="value">
                    <%= startingMoneyArr[9]  %>
                </label>
                </br>
                <label class="lbl-conv">USD </label>
                <label class="value" id="USD-value">
                    <%= startingMoneyObj.USD  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[11]  %>
                </label>
                </br>
                <label class="lbl-conv">JOD2 </label>
                <label class="value" id="JOD2-value">
                    <%= startingMoneyObj.JOD2  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[10]  %>
                </label>
                </br>
                <label class="lbl-conv">USD2 </label>
                <label class="value" id="USD2-value">
                    <%= startingMoneyObj.USD2  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[12]  %>
                </label>
                </br>
                </br>
                <label class="lbl">200 </label>
                <label class="value" id="200-value">
                    <%= startingMoneyObj[200]  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[8]  %>
                </label>
                </br>
                <label class="lbl">100 </label>
                <label class="value" id="100-value">
                    <%= startingMoneyObj[100]  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[7]  %>
                </label>
                </br>
                <label class="lbl">50 </label>
                <label class="value" id="50-value">
                    <%= startingMoneyObj[50]  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[6]  %>
                </label>
                </br>
                <label class="lbl">20 </label>
                <label class="value" id="20-value">
                    <%= startingMoneyObj[20]  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[5]  %>
                </label>
                </br>
                <label class="lbl">10 </label>
                <label class="value" id="10-value">
                    <%= startingMoneyObj[10]  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[4]  %>
                </label>
                </br>
                <label class="lbl">5 </label>
                <label class="value" id="5-value">
                    <%= startingMoneyObj[5]  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[3]  %>
                </label>
                </br>
                <label class="lbl">2 </label>
                <label class="value" id="2-value">
                    <%= startingMoneyObj[2]  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[2]  %>
                </label>
                </br>
                <label class="lbl">1 </label>
                <label class="value" id="1-value">
                    <%= startingMoneyObj[1]  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[1]  %>
                </label>
                </br>
                <label class="lbl">0.5 </label>
                <label class="value" id="0-value">
                    <%= startingMoneyObj[0]  %>
                </label>
                </label>
                <label class="value">
                    <%= startingMoneyArr[0]  %>
                </label>
                </br>
                <label>
                    _______________________
                </label>
                </br>
                <label class="total-lbl">
                    Total
                </label>
                <label class="total">
                    <%= startingTotal %>
                </label>
                </br>
                <% } %>
        </div>
        <div class="col-md-3 left-border">
            <% if(Object.keys(keptMoneyObj).length !== 0){ %>
                <label class="tab"> مخصص العهدة</label>
                </br>
                <label class="lbl-conv">JOD </label>
                <label class="value" id="JOD-value">
                    <%= keptMoneyObj.JOD  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[9]  %>
                </label>
                </br>
                <label class="lbl-conv">USD </label>
                <label class="value" id="USD-value">
                    <%= keptMoneyObj.USD  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[11]  %>
                </label>
                </br>
                <label class="lbl-conv">JOD2 </label>
                <label class="value" id="JOD2-value">
                    <%= keptMoneyObj.JOD2  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[10]  %>
                </label>
                </br>
                <label class="lbl-conv">USD2 </label>
                <label class="value" id="USD2-value">
                    <%= keptMoneyObj.USD2  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[12]  %>
                </label>
                </br>
                </br>
                <label class="lbl">200 </label>
                <label class="value" id="200-value">
                    <%= keptMoneyObj[200]  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[8]  %>
                </label>
                </br>
                <label class="lbl">100 </label>
                <label class="value" id="100-value">
                    <%= keptMoneyObj[100]  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[7]  %>
                </label>
                </br>
                <label class="lbl">50 </label>
                <label class="value" id="50-value">
                    <%= keptMoneyObj[50]  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[6]  %>
                </label>
                </br>
                <label class="lbl">20 </label>
                <label class="value" id="20-value">
                    <%= keptMoneyObj[20]  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[5]  %>
                </label>
                </br>
                <label class="lbl">10 </label>
                <label class="value" id="10-value">
                    <%= keptMoneyObj[10]  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[4]  %>
                </label>
                </br>
                <label class="lbl">5 </label>
                <label class="value" id="5-value">
                    <%= keptMoneyObj[5]  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[3]  %>
                </label>
                </br>
                <label class="lbl">2 </label>
                <label class="value" id="2-value">
                    <%= keptMoneyObj[2]  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[2]  %>
                </label>
                </br>
                <label class="lbl">1 </label>
                <label class="value" id="1-value">
                    <%= keptMoneyObj[1]  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[1]  %>
                </label>
                </br>
                <label class="lbl">0.5 </label>
                <label class="value" id="0-value">
                    <%= keptMoneyObj[0]  %>
                </label>
                <label class="value">
                    <%= keptMoneyArr[0]  %>
                </label>
                </br>
                <label>
                    _______________________
                </label>
                </br>
                <label class="total">
                    <%= keptTotal %>
                </label>
                </br>
                <% } %>
        </div>
        <div class="col-md-3 left-border rounded">
            <% if(Object.keys(submittedMoneyObj).length !== 0){ %>
                <label class="tab">المبلغ الصافي المرحل </label>
                </br>
                <label class="lbl-conv">JOD </label>
                <label class="value" id="JOD-value">
                    <%= submittedMoneyObj.JOD  %>
                </label>
                <label>
                    <%= submittedMoneyArr[9]  %>
                </label>
                </br>
                <label class="lbl-conv">USD </label>
                <label class="value" id="USD-value">
                    <%= submittedMoneyObj.USD  %>
                </label>
                <label>
                    <%= submittedMoneyArr[11]  %>
                </label>
                </br>
                <label class="lbl-conv">JOD2 </label>
                <label class="value" id="JOD2-value">
                    <%= submittedMoneyObj.JOD2  %>
                </label>
                <label>
                    <%= submittedMoneyArr[10]  %>
                </label>
                </br>
                <label class="lbl-conv">USD2 </label>
                <label class="value" id="USD2-value">
                    <%= submittedMoneyObj.USD2  %>
                </label>
                <label>
                    <%= submittedMoneyArr[12]  %>
                </label>
                </br>
                </br>
                <label class="lbl">200 </label>
                <label class="value" id="200-value">
                    <%= submittedMoneyObj[200]  %>
                </label>
                <label>
                    <%= submittedMoneyArr[8]  %>
                </label>
                </br>
                <label class="lbl">100 </label>
                <label class="value" id="100-value">
                    <%= submittedMoneyObj[100]  %>
                </label>
                <label>
                    <%= submittedMoneyArr[7]  %>
                </label>
                </br>
                <label class="lbl">50 </label>
                <label class="value" id="50-value">
                    <%= submittedMoneyObj[50]  %>
                </label>
                <label>
                    <%= submittedMoneyArr[6]  %>
                </label>
                </br>
                <label class="lbl">20 </label>
                <label class="value" id="20-value">
                    <%= submittedMoneyObj[20]  %>
                </label>
                <label>
                    <%= submittedMoneyArr[5]  %>
                </label>
                </br>
                <label class="lbl">10 </label>
                <label class="value" id="10-value">
                    <%= submittedMoneyObj[10]  %>
                </label>
                <label>
                    <%= submittedMoneyArr[4]  %>
                </label>
                </br>
                <label class="lbl">5 </label>
                <label class="value" id="5-value">
                    <%= submittedMoneyObj[5]  %>
                </label>
                <label>
                    <%= submittedMoneyArr[3]  %>
                </label>
                </br>
                <label class="lbl">2 </label>
                <label class="value" id="2-value">
                    <%= submittedMoneyObj[2]  %>
                </label>
                <label>
                    <%= submittedMoneyArr[2]  %>
                </label>
                </br>
                <label class="lbl">1 </label>
                <label class="value" id="1-value">
                    <%= submittedMoneyObj[1]  %>
                </label>
                <label>
                    <%= submittedMoneyArr[1]  %>
                </label>
                </br>
                <label class="lbl">0.5 </label>
                <label class="value" id="0-value">
                    <%= submittedMoneyObj[0]  %>
                </label>
                <label>
                    <%= submittedMoneyArr[0]  %>
                </label>
                </br>
                <label>
                    _____________________
                </label>
                </br>
                <label class="total">
                    <%= submittedTotal %>
                </label>
                </br>
                <% } %>
        </div>
        </div>

        <div class="container upper-border">
          <% if(Object.keys(keptMoneyObj).length !== 0){ %>
          <div class="container">
             <div class="row">
              <div class="col-md-3">
                    <label class="tab"> مدفوعات </label>
                    </br>
                    <input class="value-min"  type="number" name="out-value-1" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="out-text-1" placeholder="السبب">
                    </br>
                    <input class="value-min"  type="number" name="out-value-2" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="out-text-2" placeholder="السبب">
                    </br>
                    <input class="value-min"  type="number" name="out-value-3" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="out-text-3" placeholder="السبب">
                    </br>
                    <input class="value-min"  type="number" name="out-value-4" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="out-text-4" placeholder="السبب">
                    </br>
                    <input class="value-min"  type="number" name="out-value-5" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="out-text-5" placeholder="السبب">
                    </br>
                    <input class="value-min"  type="number" name="out-value-6" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="out-text-6" placeholder="السبب">
                    </br>
                    <input class="value-min"  type="number" name="out-value-7" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="out-text-7" placeholder="السبب">
                    </br>
                    <input class="value-min"  type="number" name="out-value-8" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="out-text-8" placeholder="السبب">
                    </br>
                    <input class="value-min"  type="number" name="out-value-9" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="out-text-9" placeholder="السبب">
                    </br>
                    <input class="value-min"  type="number" name="out-value-10" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="out-text-10" placeholder="السبب">
                    </br>
                </div>

                 <div class="col-md-3">
                    <label class="tab"> مقبوضات </label>
                    </br>
                    <input class="value-min"  type="number" name="in-value-1" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="in-text-1" placeholder="السبب">
                    </br>
                     <input class="value-min"  type="number" name="in-value-2" placeholder="المبلغ"  >
                    <input class="text"  type="text"        name="in-text-2" placeholder="السبب">
                    </br>
                     <input class="value-min"  type="number" name="in-value-3" placeholder="المبلغ"  >
                    <input class="text"  type="text"         name="in-text-3" placeholder="السبب">
                    </br> 
                     <input class="value-min"  type="number" name="in-value-4" placeholder="المبلغ"  >
                    <input class="text"  type="text"         name="in-text-4" placeholder="السبب">
                    </br> 
                     <input class="value-min"  type="number" name="in-value-5" placeholder="المبلغ"  >
                    <input class="text"  type="text"         name="in-text-5" placeholder="السبب">
                    </br> 
                     <input class="value-min"  type="number" name="in-value-6" placeholder="المبلغ"  >
                    <input class="text"  type="text"         name="in-text-6" placeholder="السبب">
                    </br> 
                     <input class="value-min"  type="number" name="in-value-7" placeholder="المبلغ"  >
                    <input class="text"  type="text"         name="in-text-7" placeholder="السبب">
                    </br> 
                     <input class="value-min"  type="number" name="in-value-8" placeholder="المبلغ"  >
                    <input class="text"  type="text"         name="in-text-8" placeholder="السبب">
                    </br> 
                     <input class="value-min"  type="number" name="in-value-9" placeholder="المبلغ"  >
                    <input class="text"  type="text"         name="in-text-9" placeholder="السبب">
                    </br> 
                     <input class="value-min"  type="number" name="in-value-10" placeholder="المبلغ"  >
                    <input class="text"  type="text"         name="in-text-10" placeholder="السبب">
                    </br>
                </div>
                
                <div class="col-md-3">
                    Jawwal w Wataniyya
                </div>
            </div>
                <% } %>

          </div>
       
          <button class="btn btn-default submit" type="submit" value="Save"  formaction="/save/" <%= (Object.keys(keptMoneyObj).length == 0)? "disabled":"" %>  >
            Save
            <span class= "glyphicon glyphicon-floppy-open"></span>
          </button>
        </div>

      </form>
       </div>
       <div class="footer">
          Madina Markets 2018 
          <span class= "glyphicon glyphicon-copyright-mark"></span>
       </div>
    </div>
</body>