<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/styles/homepage.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <h1> Madina Market </h1>
        <form class="form-inline" action="/cash/" method="post">
            <label>أدخل التفاصيل: </label>
            </br>
            <input id="username" type="text" name="user_name" placeholder="الاسم">
            <input id="cash_user" type="text" name="cash_user" placeholder="صندوق">
            <input id="date" type="date" name="date" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" placeholder="التاريخ">
            <select name="period">
                <option value="morning">صباحي</option>
                <option value="evening">مسائي</option>
            </select>
            </br>
            </br>
            <div class="row">
                <div class="col-md-3">
                    <label> تفاصيل العملات</label>
                    </br>
                    <label class="lbl">JOD</label>
                    <input class="value-min" id="JOD-conv" type="number" name="JOD-conv" placeholder="سعر الصرف" step=".01">
                    <input class="value-min" id="JOD" type="number" name="JOD" placeholder="العدد">
                    </br>
                    <label class="lbl">USD</label>
                    <input class="value-min" id="USD-conv" type="number" name="USD-conv" placeholder="سعر الصرف" step=".01">
                    <input class="value-min" id="USD" type="number" name="USD" placeholder="العدد">
                    </br>
                    <label class="lbl">JOD2</label>
                    <input class="value-min" id="JOD2-conv" type="number" name="JOD2-conv" placeholder="سعر الصرف 2" step=".01">
                    <input class="value-min" id="JOD2" type="number" name="JOD2" placeholder="العدد">
                    </br>
                    <label class="lbl">USD2</label>
                    <input class="value-min" id="USD2-conv" type="number" name="USD2-conv" placeholder="سعر الصرف 2" step=".01">
                    <input class="value-min" id="USD2" type="number" name="USD2" placeholder="العدد">
                    </br>
                    </br>
                    <label class="lbl">200</label>
                    <input class="form-control" id="200" type="number" name="200" placeholder="العدد">
                    </br>
                    <label class="lbl">100</label>
                    <input class="form-control value" id="100" type="number" name="100" placeholder="العدد">
                    </br>
                    <label class="lbl">50</label>
                    <input class="form-control" id="50" type="number" name="50" placeholder="العدد">
                    </br>
                    <label class="lbl">20</label>
                    <input class="form-control" id="20" type="number" name="20" placeholder="العدد">
                    </br>
                    <label class="lbl">10</label>
                    <input class="form-control" id="10" type="number" name="10" placeholder="العدد">
                    </br>
                    <label class="lbl">5</label>
                    <input class="form-control" id="5" type="number" name="5" placeholder="العدد">
                    </br>
                    <label class="lbl">2</label>
                    <input class="form-control" id="2" type="number" name="2" placeholder="العدد">
                    </br>
                    <label class="lbl">1</label>
                    <input class="form-control" id="1" type="number" name="1" placeholder="العدد">
                    </br>
                    <label class="lbl">0.5</label>
                    <input class="form-control" id="0" type="number" name="0" placeholder="العدد">
                    </br>
                    </br>
                    <label>
                        <%= startingTotal %>
                    </label>
                    </br>
                    <input type="submit" value="OK">
                </div>
        </form>
        
        <div class="col-md-3">
            <% if(Object.keys(keptMoneyObj).length !== 0){ %>
                <label> الجرد الفعلي </label>
                </br>
                <label>JOD --> </label>
                <label id="JOD-value">
                    <%= startingMoneyObj.JOD  %>
                </label>
                </br>
                <label>JOD2 --> </label>
                <label id="JOD2-value">
                    <%= startingMoneyObj.JOD2  %>
                </label>
                </br>
                <label>USD --> </label>
                <label id="USD-value">
                    <%= startingMoneyObj.USD  %>
                </label>
                </br>
                <label>USD2 --> </label>
                <label id="USD2-value">
                    <%= startingMoneyObj.USD2  %>
                </label>
                </br>
                </br>
                <label>200 --> </label>
                <label id="200-value">
                    <%= startingMoneyObj[200]  %>
                </label>
                </br>
                <label>100 --> </label>
                <label id="100-value">
                    <%= startingMoneyObj[100]  %>
                </label>
                </br>
                <label>50 --> </label>
                <label id="50-value">
                    <%= startingMoneyObj[50]  %>
                </label>
                </br>
                <label>20 --> </label>
                <label id="20-value">
                    <%= startingMoneyObj[20]  %>
                </label>
                </br>
                <label>10 --> </label>
                <label id="10-value">
                    <%= startingMoneyObj[10]  %>
                </label>
                </br>
                <label>5 --> </label>
                <label id="5-value">
                    <%= startingMoneyObj[5]  %>
                </label>
                </br>
                <label>2 --> </label>
                <label id="2-value">
                    <%= startingMoneyObj[2]  %>
                </label>
                </br>
                <label>1 --> </label>
                <label id="1-value">
                    <%= startingMoneyObj[1]  %>
                </label>
                </br>
                <label>0.5 --> </label>
                <label id="0-value">
                    <%= startingMoneyObj[0]  %>
                </label>
                </br>
                <label>
                    <%= startingTotal %>
                </label>
                </br>
                <% } %>
        </div>


        <div class="col-md-3">
            <% if(Object.keys(keptMoneyObj).length !== 0){ %>
                <label> مخصص العهدة</label>
                </br>
                <label>JOD --> </label>
                <label id="JOD-value">
                    <%= keptMoneyObj.JOD  %>
                </label>
                 <label>
                    <%= keptMoneyArr[9]  %>
                </label>
                </br>
                <label>JOD2 --> </label>
                <label id="JOD2-value">
                    <%= keptMoneyObj.JOD2  %>
                </label>
                 <label>
                    <%= keptMoneyArr[10]  %>
                </label>
                </br>
                <label>USD --> </label>
                <label id="USD-value">
                    <%= keptMoneyObj.USD  %>
                </label>
                 <label>
                    <%= keptMoneyArr[11]  %>
                </label>
                </br>
                <label>USD2 --> </label>
                <label id="USD2-value">
                    <%= keptMoneyObj.USD2  %>
                </label>
                 <label>
                    <%= keptMoneyArr[12]  %>
                </label>
                </br>
                </br>
                <label>200 --> </label>
                <label id="200-value">
                    <%= keptMoneyObj[200]  %>
                </label>
                 <label>
                    <%= keptMoneyArr[8]  %>
                </label>
                </br>
                <label>100 --> </label>
                <label id="100-value">
                    <%= keptMoneyObj[100]  %>
                </label>
                 <label>
                    <%= keptMoneyArr[7]  %>
                </label>
                </br>
                <label>50 --> </label>
                <label id="50-value">
                    <%= keptMoneyObj[50]  %>
                </label>
                 <label>
                    <%= keptMoneyArr[6]  %>
                </label>
                </br>
                <label>20 --> </label>
                <label id="20-value">
                    <%= keptMoneyObj[20]  %>
                </label>
                 <label>
                    <%= keptMoneyArr[5]  %>
                </label>
                </br>
                <label>10 --> </label>
                <label id="10-value">
                    <%= keptMoneyObj[10]  %>
                </label>
                 <label>
                    <%= keptMoneyArr[4]  %>
                </label>
                </br>
                <label>5 --> </label>
                <label id="5-value">
                    <%= keptMoneyObj[5]  %>
                </label>
                 <label>
                    <%= keptMoneyArr[3]  %>
                </label>
                </br>
                <label>2 --> </label>
                <label id="2-value">
                    <%= keptMoneyObj[2]  %>
                </label>
                 <label>
                    <%= keptMoneyArr[2]  %>
                </label>
                </br>
                <label>1 --> </label>
                <label id="1-value">
                    <%= keptMoneyObj[1]  %>
                </label>
                 <label>
                    <%= keptMoneyArr[1]  %>
                </label>
                </br>
                <label>0.5 --> </label>
                <label id="0-value">
                    <%= keptMoneyObj[0]  %>
                </label>
                 <label>
                    <%= keptMoneyArr[0]  %>
                </label>
                </br>
                <label>
                    <%= keptTotal %>
                </label>
                </br>
                <% } %>
        </div>
        <div class="col-md-3">
            <% if(Object.keys(submittedMoneyObj).length !== 0){ %>
                <label>المبلغ الصافي المرحل </label>
                </br>
                <label>JOD --> </label>
                <label id="JOD-value">
                    <%= submittedMoneyObj.JOD  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[9]  %>
                </label>
                </br>
                <label>JOD2 --> </label>
                <label id="JOD2-value">
                    <%= submittedMoneyObj.JOD2  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[10]  %>
                </label>
                </br>
                <label>USD --> </label>
                <label id="USD-value">
                    <%= submittedMoneyObj.USD  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[11]  %>
                </label>
                </br>
                <label>USD2 --> </label>
                <label id="USD2-value">
                    <%= submittedMoneyObj.USD2  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[12]  %>
                </label>
                </br>
                </br>
                <label>200 --> </label>
                <label id="200-value">
                    <%= submittedMoneyObj[200]  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[8]  %>
                </label>
                </br>
                <label>100 --> </label>
                <label id="100-value">
                    <%= submittedMoneyObj[100]  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[7]  %>
                </label>
                </br>
                <label>50 --> </label>
                <label id="50-value">
                    <%= submittedMoneyObj[50]  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[6]  %>
                </label>
                </br>
                <label>20 --> </label>
                <label id="20-value">
                    <%= submittedMoneyObj[20]  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[5]  %>
                </label>
                </br>
                <label>10 --> </label>
                <label id="10-value">
                    <%= submittedMoneyObj[10]  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[4]  %>
                </label>
                </br>
                <label>5 --> </label>
                <label id="5-value">
                    <%= submittedMoneyObj[5]  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[3]  %>
                </label>
                </br>
                <label>2 --> </label>
                <label id="2-value">
                    <%= submittedMoneyObj[2]  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[2]  %>
                </label>
                </br>
                <label>1 --> </label>
                <label id="1-value">
                    <%= submittedMoneyObj[1]  %>
                </label>
                   <label>
                    <%= submittedMoneyArr[1]  %>
                </label>
                </br>
                <label>0.5 --> </label>
                <label id="0-value">
                    <%= submittedMoneyObj[0]  %>
                </label>
                  <label>
                    <%= submittedMoneyArr[0]  %>
                </label>
                </br>
                <label>
                    <%= submittedTotal %>
                </label>
                </br>
                <% } %>
        </div>
        </div>
    </div>
</body>